@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main {
    @apply h-screen w-full  pt-20;
  }
  .header-main {
    @apply h-screen w-full  pt-24;
  }
  .input-auth {
    @apply h-12 w-full rounded-lg bg-gray-200 px-4 text-black outline-none disabled:bg-gray-300;
  }
  .btn-auth {
    @apply h-12 w-full rounded-lg bg-blue-500 text-white;
  }
  .btn-kakao {
    @apply flex h-12 w-full items-center justify-center rounded-lg bg-yellow-400 text-white;
  }
  .btn-google {
    @apply flex h-12 w-full items-center justify-center rounded-lg bg-blue-500 text-white;
  }
}
